# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
KiCAD/*/*.000
KiCAD/*/*.bak
KiCAD/*/*.bck
KiCAD/*/*.kicad_pcb-bak
KiCAD/*/*.sch-bak
KiCAD/*/*~
KiCAD/*/_autosave-*
KiCAD/*/*.tmp
KiCAD/*/*-save.pro
KiCAD/*/*-save.kicad_pcb
KiCAD/*/fp-info-cache

# Netlist files (exported from Eeschema)
KiCAD/*/*.net

# Autorouter files (exported from Pcbnew)
KiCAD/*/*.dsn
KiCAD/*/*.ses

# Exported BOM files
KiCAD/*/*.xml
KiCAD/*/*.csv


# Gerd's AVR simulator and assembler
Code/*/*.hex
Code/*/*.lst
Code/*/*~
